<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Whats The Weather?</title>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
  </head>
  <body>
    <div class="search_container">
        <h1>What's the weather?</h1>
        <p class="error">{{ error }}</p>
        <form method="POST" id="input_field">
        {{ city.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit" id="search_button">
        </form>
    </div>

    <div class="current_weather">
        <ul>
         <li> <p class="current_p">Temperature (C°): </p>{{ temperature }}</li>
          <li> <p class="current_p">Description of weather: </p>{{ description }}</li>
         <li> <p class="current_p">Pressure (hPa): </p>{{ pressure }}</li>
         <li> <p class="current_p">Speed of wind (m/s): </p>{{ wind }}</li>
        </ul>
    </div>

    <div>
        <h1>Forecast for today</h1>
        <table>
            <tr>
                <th>Time</th>
                <th> 00:00 </th>
                <th> 01:00 </th>
                <th> 02:00 </th>
                <th> 03:00 </th>
                <th> 04:00 </th>
                <th> 05:00 </th>
                <th> 06:00 </th>
                <th> 07:00 </th>
                <th> 08:00 </th>
                <th> 09:00 </th>
                <th> 10:00 </th>
                <th> 11:00 </th>
                <th> 12:00 </th>
                <th> 13:00 </th>
                <th> 14:00 </th>
                <th> 15:00 </th>
                <th> 16:00 </th>
                <th> 17:00 </th>
                <th> 18:00 </th>
                <th> 19:00 </th>
                <th> 20:00 </th>
                <th> 21:00 </th>
                <th> 22:00 </th>
                <th> 23:00 </th>
            </tr>
            <tr>
                <th>Temperature (C°)</th>
                <th>  {{ hour_temp0 }}  </th>
                <th>  {{ hour_temp1 }}  </th>
                <th>  {{ hour_temp2 }}  </th>
                <th>  {{ hour_temp3 }}  </th>
                <th>  {{ hour_temp4 }}  </th>
                <th>  {{ hour_temp5 }}  </th>
                <th>  {{ hour_temp6 }}  </th>
                <th>  {{ hour_temp7 }}  </th>
                <th>  {{ hour_temp8 }}  </th>
                <th>  {{ hour_temp9 }}  </th>
                <th>  {{ hour_temp10 }}  </th>
                <th>  {{ hour_temp11 }}  </th>
                <th>  {{ hour_temp12 }}  </th>
                <th>  {{ hour_temp13 }}  </th>
                <th>  {{ hour_temp14 }}  </th>
                <th>  {{ hour_temp15 }}  </th>
                <th>  {{ hour_temp16 }}  </th>
                <th>  {{ hour_temp17 }}  </th>
                <th>  {{ hour_temp18 }}  </th>
                <th>  {{ hour_temp19 }}  </th>
                <th>  {{ hour_temp20 }}  </th>
                <th>  {{ hour_temp21 }}  </th>
                <th>  {{ hour_temp22 }}  </th>
                <th>  {{ hour_temp23 }}  </th>
            </tr>

            <tr>
                <th>Wind speed km/h</th>
                <th>{{ hour_wind_speed0 }} km/h</th>
                <th>{{ hour_wind_speed1 }} km/h</th>
                <th>{{ hour_wind_speed2 }} km/h</th>
                <th>{{ hour_wind_speed3 }} km/h</th>
                <th>{{ hour_wind_speed4 }} km/h</th>
                <th>{{ hour_wind_speed5 }} km/h</th>
                <th>{{ hour_wind_speed6 }} km/h</th>
                <th>{{ hour_wind_speed7 }} km/h</th>
                <th>{{ hour_wind_speed8 }} km/h</th>
                <th>{{ hour_wind_speed9 }} km/h</th>
                <th>{{ hour_wind_speed10 }} km/h</th>
                <th>{{ hour_wind_speed11 }} km/h</th>
                <th>{{ hour_wind_speed12 }} km/h</th>
                <th>{{ hour_wind_speed13 }} km/h</th>
                <th>{{ hour_wind_speed14 }} km/h</th>
                <th>{{ hour_wind_speed15 }} km/h</th>
                <th>{{ hour_wind_speed16 }} km/h</th>
                <th>{{ hour_wind_speed17 }} km/h</th>
                <th>{{ hour_wind_speed18 }} km/h</th>
                <th>{{ hour_wind_speed19 }} km/h</th>
                <th>{{ hour_wind_speed20 }} km/h</th>
                <th>{{ hour_wind_speed21 }} km/h</th>
                <th>{{ hour_wind_speed22 }} km/h</th>
                <th>{{ hour_wind_speed23 }} km/h</th>
            </tr>

            <tr>
                <th>Clouds</th>
                <th> {{ hour_clouds0 }} %</th>
                <th> {{ hour_clouds1 }} %</th>
                <th> {{ hour_clouds2 }} %</th>
                <th> {{ hour_clouds3 }} %</th>
                <th> {{ hour_clouds4 }} %</th>
                <th> {{ hour_clouds5 }} %</th>
                <th> {{ hour_clouds6 }} %</th>
                <th> {{ hour_clouds7 }} %</th>
                <th> {{ hour_clouds8 }} %</th>
                <th> {{ hour_clouds9 }} %</th>
                <th> {{ hour_clouds10 }} %</th>
                <th> {{ hour_clouds11 }} %</th>
                <th> {{ hour_clouds12 }} %</th>
                <th> {{ hour_clouds13 }} %</th>
                <th> {{ hour_clouds14 }} %</th>
                <th> {{ hour_clouds15 }} %</th>
                <th> {{ hour_clouds16 }} %</th>
                <th> {{ hour_clouds17 }} %</th>
                <th> {{ hour_clouds18 }} %</th>
                <th> {{ hour_clouds19 }} %</th>
                <th> {{ hour_clouds20 }} %</th>
                <th> {{ hour_clouds21 }} %</th>
                <th> {{ hour_clouds22 }} %</th>
                <th> {{ hour_clouds23 }} %</th>
            </tr>
        </table>

    </div>

    <div>
      <h1>7 days forecast</h1>
      <table class="multiple_days_forecast" style="width: 100%">
        <tr>
            <th>Day</th>
            <th> {{ day_name0 }} </th>
            <th> {{ day_name1 }} </th>
            <th> {{ day_name2 }} </th>
            <th> {{ day_name3 }} </th>
            <th> {{ day_name4 }} </th>
            <th> {{ day_name5 }} </th>
            <th> {{ day_name6 }} </th>
        </tr>
        <tr>
            <th>Temperature: MAX - MIN (C°)</th>
            <th> {{ day_MAX0 }} -> {{ day_MIN0 }}</th>
            <th> {{ day_MAX1 }} -> {{ day_MIN1 }}</th>
            <th> {{ day_MAX2 }} -> {{ day_MIN2 }}</th>
            <th> {{ day_MAX3 }} -> {{ day_MIN3 }}</th>
            <th> {{ day_MAX4 }} -> {{ day_MIN4 }}</th>
            <th> {{ day_MAX5 }} -> {{ day_MIN5 }}</th>
            <th> {{ day_MAX6 }} -> {{ day_MIN6 }}</th>

        </tr>
          <tr>
              <th>Clouds</th>
              <th> {{ day_clouds0 }}% </th>
              <th> {{ day_clouds1 }}% </th>
              <th> {{ day_clouds2 }}% </th>
              <th> {{ day_clouds3 }}% </th>
              <th> {{ day_clouds4 }}% </th>
              <th> {{ day_clouds5 }}% </th>
              <th> {{ day_clouds6 }}% </th>

          </tr>
      </table>
    </div>


  </body>
</html>
