<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Whats The Weather?</title>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" #}
{#          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
  </head>
  <body>
    <div class="search_container">
        <h1>What's the weather?</h1>
        <p class="error">{{ error }}</p>
        <form method="POST" id="input_field">
        {{ city.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit" id="search_button">
        </form>
    </div>

    <div class="current_weather">
        <ul>
         <li> <p class="current_p">Temperature (C°): </p>{{ temperature }}</li>
          <li> <p class="current_p">Description of weather: </p>{{ description }}</li>
         <li> <p class="current_p">Pressure (hPa): </p>{{ pressure }}</li>
         <li> <p class="current_p">Speed of wind (m/s): </p>{{ wind }}</li>
        </ul>
    </div>

    <div>
        <h1> 24 hour forecast </h1>
        <table>
            <tr>
                <th>Time</th>
                <th> 00:00 </th>
                <th> 01:00 </th>
                <th> 02:00 </th>
                <th> 03:00 </th>
                <th> 04:00 </th>
                <th> 05:00 </th>
                <th> 06:00 </th>
                <th> 07:00 </th>
                <th> 08:00 </th>
                <th> 09:00 </th>
                <th> 10:00 </th>
                <th> 11:00 </th>
                <th> 12:00 </th>
                <th> 13:00 </th>
                <th> 14:00 </th>
                <th> 15:00 </th>
                <th> 16:00 </th>
                <th> 17:00 </th>
                <th> 18:00 </th>
                <th> 19:00 </th>
                <th> 20:00 </th>
                <th> 21:00 </th>
                <th> 22:00 </th>
                <th> 23:00 </th>
            </tr>
            <tr>
                <th>Temperature (C°)</th>
                {% for hour in forecast %}
                    <th>{{ hour.hour_temp }}</th>
                {% endfor %}
            </tr>

            <tr>
                <th>Wind speed km/h</th>
                {% for hour in forecast %}
                    <th>{{ hour.hour_wind_speed }}</th>
                {% endfor %}
            </tr>

            <tr>
                <th>Clouds</th>
                {% for hour in forecast %}
                    <th>{{ hour.hour_clouds }}</th>
                {% endfor %}
            </tr>

            <tr>
                <th> Icon </th>
                {% for hour in forecast %}
                    {% with 'images/'|add:hour.hour_icon|add:'.png' as image_static %}
                        <th> <img src="{% static image_static %}" height="64" width="64"> </th>
                    {% endwith %}
                {% endfor %}
            </tr>
        </table>

    </div>

    <div>
      <h1>7 days forecast</h1>
      <table class="multiple_days_forecast" style="width: 100%">
        <tr>
            <th>Day</th>
            <th> {{ day_name0 }} </th>
            <th> {{ day_name1 }} </th>
            <th> {{ day_name2 }} </th>
            <th> {{ day_name3 }} </th>
            <th> {{ day_name4 }} </th>
            <th> {{ day_name5 }} </th>
            <th> {{ day_name6 }} </th>
        </tr>
        <tr>
            <th>Temperature: MAX - MIN (C°)</th>
            <th> {{ day_MAX0 }} -> {{ day_MIN0 }}</th>
            <th> {{ day_MAX1 }} -> {{ day_MIN1 }}</th>
            <th> {{ day_MAX2 }} -> {{ day_MIN2 }}</th>
            <th> {{ day_MAX3 }} -> {{ day_MIN3 }}</th>
            <th> {{ day_MAX4 }} -> {{ day_MIN4 }}</th>
            <th> {{ day_MAX5 }} -> {{ day_MIN5 }}</th>
            <th> {{ day_MAX6 }} -> {{ day_MIN6 }}</th>
        </tr>
          <tr>
              <th>Clouds</th>
              <th> {{ day_clouds0 }}% </th>
              <th> {{ day_clouds1 }}% </th>
              <th> {{ day_clouds2 }}% </th>
              <th> {{ day_clouds3 }}% </th>
              <th> {{ day_clouds4 }}% </th>
              <th> {{ day_clouds5 }}% </th>
              <th> {{ day_clouds6 }}% </th>
          </tr>

          <tr>
              <th>Icon</th>
              {% with 'images/'|add:day_icon0|add:'.png' as image_static %}
                    <th> <img src="{% static image_static %}" height="64" width="64"> </th>
              {% endwith %}

              {% with 'images/'|add:day_icon1|add:'.png' as image_static %}
                        <th> <img src="{% static image_static %}" height="64" width="64"> </th>
                  {% endwith %}

              {% with 'images/'|add:day_icon2|add:'.png' as image_static %}
                        <th> <img src="{% static image_static %}" height="64" width="64"> </th>
                  {% endwith %}

              {% with 'images/'|add:day_icon3|add:'.png' as image_static %}
                        <th> <img src="{% static image_static %}" height="64" width="64"> </th>
                  {% endwith %}

              {% with 'images/'|add:day_icon4|add:'.png' as image_static %}
                        <th> <img src="{% static image_static %}" height="64" width="64"> </th>
                  {% endwith %}

              {% with 'images/'|add:day_icon5|add:'.png' as image_static %}
                        <th> <img src="{% static image_static %}" height="64" width="64"> </th>
                  {% endwith %}

              {% with 'images/'|add:day_icon6|add:'.png' as image_static %}
                        <th> <img src="{% static image_static %}" height="64" width="64"> </th>
                  {% endwith %}

          </tr>
      </table>
    </div>

  <div>
      <p style="color: azure">
          Icons made by <a href="http://www.freepik.com" title="Freepik" style="color: aqua">Freepik</a> from
          <a href="https://www.flaticon.com/" title="Flaticon" style="color: aqua">www.flaticon.com</a> is licensed by
          <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank" style="color: aqua">CC 3.0 BY</a>
      </p>
  </div>

  </body>
</html>
