<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Whats The Weather?</title>
      <link rel="stylesheet" href="{% static "css/style.css" %}">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">#}
  </head>
  <body>
    <div class="search_container">
        <h1>What's the weather?</h1>
        <p class="error">{{ error }}</p>
        <form method="POST" id="input_field">
        {{ city.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit" id="search_button">
        </form>
    </div>

    <div class="current_weather">
        <ul>
         <li> <p class="current_p">Temperature (C°): </p>{{ temperature }}</li>
          <li> <p class="current_p">Description of weather: </p>{{ description }}</li>
         <li> <p class="current_p">Pressure (hPa): </p>{{ pressure }}</li>
         <li> <p class="current_p">Speed of wind (m/s): </p>{{ wind }}</li>
        </ul>
    </div>

    <div>
        <h1>Forecast for today</h1>
        <table>
            <tr>
                <th>Time</th>
                <th>00:00</th>
                <th>01:00</th>
                <th>02:00</th>
                <th>03:00</th>
                <th>04:00</th>
                <th>05:00</th>
                <th>06:00</th>
                <th>07:00</th>
                <th>08:00</th>
                <th>09:00</th>
                <th>10:00</th>
                <th>11:00</th>
                <th>12:00</th>
                <th>13:00</th>
                <th>14:00</th>
                <th>15:00</th>
                <th>16:00</th>
                <th>17:00</th>
                <th>18:00</th>
                <th>19:00</th>
                <th>20:00</th>
                <th>21:00</th>
                <th>22:00</th>
                <th>23:00</th>
            </tr>
            <tr>
                <th>Temperature (C°)</th>
                <th>{{ hour_temp0 }}</th>
                <th>{{ hour_temp1 }}</th>
                <th>{{ hour_temp2 }}</th>
                <th>{{ hour_temp3 }}</th>
                <th>{{ hour_temp4 }}</th>
                <th>{{ hour_temp5 }}</th>
                <th>{{ hour_temp6 }}</th>
                <th>{{ hour_temp7 }}</th>
                <th>{{ hour_temp8 }}</th>
                <th>{{ hour_temp9 }}</th>
                <th>{{ hour_temp10 }}</th>
                <th>{{ hour_temp11 }}</th>
                <th>{{ hour_temp12 }}</th>
                <th>{{ hour_temp13 }}</th>
                <th>{{ hour_temp14 }}</th>
                <th>{{ hour_temp15 }}</th>
                <th>{{ hour_temp16 }}</th>
                <th>{{ hour_temp17 }}</th>
                <th>{{ hour_temp18 }}</th>
                <th>{{ hour_temp19 }}</th>
                <th>{{ hour_temp20 }}</th>
                <th>{{ hour_temp21 }}</th>
                <th>{{ hour_temp22 }}</th>
                <th>{{ hour_temp23 }}</th>
            </tr>

            <tr>
                <th>Real feel (C°)</th>
                <th>{{ hour_real_feel0 }}</th>
                <th>{{ hour_real_feel1 }}</th>
                <th>{{ hour_real_feel2 }}</th>
                <th>{{ hour_real_feel3 }}</th>
                <th>{{ hour_real_feel4 }}</th>
                <th>{{ hour_real_feel5 }}</th>
                <th>{{ hour_real_feel6 }}</th>
                <th>{{ hour_real_feel7 }}</th>
                <th>{{ hour_real_feel8 }}</th>
                <th>{{ hour_real_feel9 }}</th>
                <th>{{ hour_real_feel10 }}</th>
                <th>{{ hour_real_feel11 }}</th>
                <th>{{ hour_real_feel12 }}</th>
                <th>{{ hour_real_feel13 }}</th>
                <th>{{ hour_real_feel14 }}</th>
                <th>{{ hour_real_feel15 }}</th>
                <th>{{ hour_real_feel16 }}</th>
                <th>{{ hour_real_feel17 }}</th>
                <th>{{ hour_real_feel18 }}</th>
                <th>{{ hour_real_feel19 }}</th>
                <th>{{ hour_real_feel20 }}</th>
                <th>{{ hour_real_feel21 }}</th>
                <th>{{ hour_real_feel22 }}</th>
                <th>{{ hour_real_feel23 }}</th>
            </tr>

            <tr>
                <th>Condition</th>
                <th> <img src="{{ hour_icon0 }}"> </th>
                <th> <img src="{{ hour_icon1 }}"> </th>
                <th> <img src="{{ hour_icon2 }}"> </th>
                <th> <img src="{{ hour_icon3 }}"> </th>
                <th> <img src="{{ hour_icon4 }}"> </th>
                <th> <img src="{{ hour_icon5 }}"> </th>
                <th> <img src="{{ hour_icon6 }}"> </th>
                <th> <img src="{{ hour_icon7 }}"> </th>
                <th> <img src="{{ hour_icon8 }}"> </th>
                <th> <img src="{{ hour_icon9 }}"> </th>
                <th> <img src="{{ hour_icon10 }}"> </th>
                <th> <img src="{{ hour_icon11 }}"> </th>
                <th> <img src="{{ hour_icon12 }}"> </th>
                <th> <img src="{{ hour_icon13 }}"> </th>
                <th> <img src="{{ hour_icon14 }}"> </th>
                <th> <img src="{{ hour_icon15 }}"> </th>
                <th> <img src="{{ hour_icon16 }}"> </th>
                <th> <img src="{{ hour_icon17 }}"> </th>
                <th> <img src="{{ hour_icon18 }}"> </th>
                <th> <img src="{{ hour_icon19 }}"> </th>
                <th> <img src="{{ hour_icon20 }}"> </th>
                <th> <img src="{{ hour_icon21 }}"> </th>
                <th> <img src="{{ hour_icon22 }}"> </th>
                <th> <img src="{{ hour_icon23 }}"> </th>
            </tr>
        </table>

    </div>

    <div>
      <h1>7 days forecast</h1>
      <table class="multiple_days_forecast" style="width: 100%">
        <tr>
            <th>Temperature (C°)</th>
            <th> {{ day1 }}</th>
            <th> {{ day2 }}</th>
            <th> {{ day3 }}</th>
            <th> {{ day4 }}</th>
            <th> {{ day5 }}</th>
            <th> {{ day6 }}</th>
            <th> {{ day7 }}</th>
        </tr>
          <tr>
              <th>Condition</th>
              <th> <img src="{{ picture1 }}"> </th>
              <th> <img src="{{ picture2 }}"> </th>
              <th> <img src="{{ picture3 }}"> </th>
              <th> <img src="{{ picture4 }}"> </th>
              <th> <img src="{{ picture5 }}"> </th>
              <th> <img src="{{ picture6 }}"> </th>
              <th> <img src="{{ picture7 }}"> </th>

          </tr>
      </table>
    </div>


  </body>
</html>
