body{
    background-color: rgb(66,73,73)
}
.current_weather {
    margin: auto;
    width: 50%;
    border-color: azure;
    color: whitesmoke;
    font-size: 20px;
    list-style-type: none;

}

#input_field{
    width: 100%;
    padding: 120px 800px;
    margin: 8px 0;
    display: inline-block;
    /*border: 1px solid #ccc;*/
    /*border-radius: 20px;*/
    /*box-sizing: border-box;*/
}

.search_container {
    /*background-color: darkviolet;*/
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 100%;
    background: url("./images/mountains.jpg") center;
}

.error {
    font-size: 30px;
    color: red;
    font-style: initial;
}

@font-face {
    font-family: Vacation;
    src: url("fonts/Vacations in Phuket.ttf");
}

h1 {
    font-family: Vacation;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}

ul {
    margin: auto;
    text-align: center;
    list-style-type: none;
}

#search_button {
    width: 70px;
    height: 50px;
    background-color: aqua;
    border: aqua;
}
#id_cityName {
    width: 500px;
    height: 35px;
    border-radius: 45px;
    font-size: 20px;
    font-family: "Courier New";

}